.single_mainBlock {
  margin-top: 50px;
  text-align: center;
  align-items: center;

  .single_meinStats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 10px;
    background-color: #dee3ed;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 1px solid rgb(175, 173, 173);
    padding: 10px;
    border-radius: 10px;
.single_info_imgText{
  span{
    color: #838181;
   padding-left: 10px;
  }
img{
  width: 250px;
}
}
.stats_hpAbilty{
  margin-left: 30px;
.ul_hp{
  span{
    color: orange;
  }
  color: grey;
  font-size: 15px;
}
.ul_ability{
  p{
    color: orange;
    font-size: 20px;
  }
  font-size: 15px;
  color: grey;
}
    ul {
      margin-top: 20px;
      overflow: hidden;
      min-width: 100px;
   
      li {
        list-style-type: none;
      font-size: 20px;
      }
    }
  }
}

  .single_spritesImg {
    margin:5px 10px;
   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 1px solid rgb(175, 173, 173);
    border-radius: 10px;
    background-color: #dee3ed;

    .spritesBut {
      margin-top: 10px;
      display: flex;
      justify-content: center;

      button {
        cursor: pointer;
        padding: 2px;
        width: 100px;
        border-radius: 5px;
        border: 1px solid #f6f6f6;
        margin: 0 5px;
        background-color: #dee3ed;
        &:hover{
          border-color: red;
          transition: 0.3s ease-in-out;
        }
        &:disabled{
          opacity: 0.5;
          cursor: auto;
          pointer-events: none;
        }
      }

      .fronButton {
        rotate: -180deg;
      }
    }

    .sprites_Image_Div {
      img {
        width: 200px
      }
      .pokemon_types{
        margin-bottom: 10px;
        h4{
          display: inline-block;
          padding: 10px;
          border-radius: 10px;
          color: rgb(62, 61, 61);
          margin-left: 5px;
        }
        .normal{
          background-color: #A8A77A
        }
        .fire{
          background-color: #EE8130;
        }
        .whater{
          background-color: #6390F0
        }
        .electric{
          background-color: #F7D02C;
        }
        .grass{
          background-color: #7AC74C;
        }
        .ice{
          background-color: #96D9D6;
        }
        .fighting{
          background-color: #C22E28;
        }
        .poison{
          background-color: #A33EA1;
        }
        .ground{
          background-color: #E2BF65;
        }
        .flying{
          background-color: #A98FF3;
        }
        .psychic{
          background-color: #F95587;
        }
        .bug{
          background-color: #A6B91A;
        }
        .rock{
          background-color: #B6A136;
        }
        .ghost{
          background-color: #735797;
        }
        .dragon{
          background-color: #6F35FC;
        }
        .dark{
          background-color: #705746;
        }
        .steel{
          background-color: #B7B7CE;
        }
        .fairy{
          background-color: #D685AD;
        }
      
      }
    }

    .sprites_stats {
     margin: 0 auto;
      border-collapse: collapse;
      margin-bottom: 20px;
      tr {
      
        td,
        th {
          border: 1px solid rgb(209, 10, 10);
          text-align: left;
          padding: 8px;
        }
        &:nth-child(even){
          background-color:red;
        }
      }


    }
  }
}

@media(max-width: 600px){
  .single_mainBlock{
    .single_meinStats{
      display: block;
      align-items: center;
    }
  }
}