.all_mainBlock {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;

    .pokemons_list {
        background-color: rgba(245, 208, 154, 0.848);
        border-radius: 10px;
        margin: 0.30rem;
        cursor: pointer;
        min-width: 140px;
        height: 100%;
        z-index: 0;
        border: 1px solid rgb(212, 206, 206);
        padding: 5px;

        p {
            text-align: center;
        }

        .img_div {
            display: flex;
            justify-content: center;
            img{
                width: 130px;
            }
        }

        &:hover {
            background-color: rgba(248, 173, 61, 0.848);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            transform: matrix(1, 0, 0, 1, 0, -5);
            transition: all 0.3s;
        }
    }
}

.all_button {
    display: flex;
    justify-content: center;
    margin: 10px 20px 50px 0px;
    cursor: pointer;

    button {
        border: none;
        border-radius: 10px;
        
        width: 100px;
        padding: 10px;
        margin: 0 5px;
        &:hover{
            background-color: rgba(248, 173, 61, 0.848);
            transition: all 0.3s ease-in;
        }
    }
}